In [1]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime


# Pretty display for notebooks

%matplotlib inline


# Allows the use of display() for DataFrames
from IPython.display import display 

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
weather = pd.read_csv("../asset/weather.csv")
key = pd.read_csv("../asset/key.csv")
submission_example = pd.read_csv("../asset/sampleSubmission.csv")

# Success - Display the first record
print("Train data : ", train.shape)
print("Test  data : ", test.shape)
print("weather  data : ", weather.shape)
print("key  data : ", key.shape)
print("submission  data : ", submission_example.shape)

coulmns_should_be_integer_type_of_data = ["tmax", "tmin", "tavg", "dewpoint", "wetbulb", "heat", "cool"]
coulmns_should_be_float_type_of_data = ["snowfall", "preciptotal", "stnpressure", "sealevel", "depart",\
                                        "resultspeed", "resultdir", "avgspeed"]

import pickle
import costum_functions as cf

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_weather = weather.copy()
df_key = key.copy()
df_train_with_weather = pd.read_csv("df_train_with_weather_201806251508.csv")

def addDays(date):
    temp = date.split("-")
    year, month, date = int(temp[0]), int(temp[1]), int(temp[2])
    return datetime.datetime(year, month, date).weekday()
df_train_with_weather["day"] = df_train_with_weather["date"].apply(addDays)

Train data :  (4617600, 4)
Test  data :  (526917, 3)
weather  data :  (20517, 20)
key  data :  (45, 2)
submission  data :  (526917, 2)

In [19]:
station_1 = df_weather[df_weather["station_nbr"] == 1]

In [20]:
len(station_1)

1035

In [21]:
station_1.drop('depart', axis=1, inplace=True)
station_1.drop('snowfall', axis=1, inplace=True)

In [22]:
station_1.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb',
       'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'preciptotal',
       'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed'],
      dtype='object')

In [24]:
cf.isThereNoneData(station_1)

         Column  Missing Data
0   station_nbr             0
1          date             0
2          tmax             2
3          tmin             2
4          tavg             6
5      dewpoint             6
6       wetbulb            11
7          heat             6
8          cool             6
9       sunrise             0
10       sunset             0
11      codesum             0
12  preciptotal             5
13  stnpressure             4
14     sealevel             8
15  resultspeed             4
16    resultdir             4
17     avgspeed             3

In [37]:
def changeType(a):
    if(a != "M"):
        return int(a)
    else:
        return 0

def changeFloatType(a):
    a = str(a).strip()
    if(a != "M" and a.strip() != "T"):
        return float(a)
    else:
        return 0

In [38]:
station_1["tmax"] = station_1[station_1["tmax"] != "M"]

In [40]:
len(station_1[station_1["tavg"] != "M"])

1035

In [41]:
def deleteRowIncludesM(df):
    columns = df.columns
    for column in columns:
        print(column)
        print(len(df[columns]))
        print(len(df[df[columns] == "M"]))
        df[columns] = df[df[columns] != "M"]
    return df

station_1 = deleteRowIncludesM(station_1)

station_nbr
1035
1035
date
1035
1035
tmax
1035
1035
tmin
1035
1035
tavg
1035
1035
dewpoint
1035
1035
wetbulb
1035
1035
heat
1035
1035
cool
1035
1035
sunrise
1035
1035
sunset
1035
1035
codesum
1035
1035
preciptotal
1035
1035
stnpressure
1035
1035
sealevel
1035
1035
resultspeed
1035
1035
resultdir
1035
1035
avgspeed
1035
1035

In [9]:
len(station_1)

103119